@model CSRMDAL.huiyijianjie
@{
    ViewBag.Title = "huiyijianjie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zaixianbao-main">
    <div class="huiyijianjie-main-top1">会议简介</div>
    <p class="huiyijianjie-main">@Model.info</p>
</div>

