@model List<CSRMDAL.huiyijiangyi>
@{
    ViewBag.Title = "huiyijiangyi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zaixianbao-main">
    <div class="huiyijiangyi-main-top1">会议讲义</div>
    <ul class="huiyijiangyi-main-top3">
        @{int i = 1;}
        @foreach (var o in Model)
        {
            
            <li>
                <a href="javascript:;" class="huiyijiangyi-main-top3-a">会议讲义@(i++)</a>
                <ul class="huiyijiangyi-main-top3-ul">
                    <li><span><a href="/upload/@o.pptname">@o.name</a></span><span></span></li>
                    <li><span>@o.author</span><span></span></li>
                    <li><span>@o.unit</span><span></span></li>
                </ul>
            </li>
        }
    </ul>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {

            $(".huiyijiangyi-main-top3-a").click(function () {

                if ($(this).next().is(":hidden")) {

                    $(this).next().slideDown();

                    $(this).css("background", "url(/Images/jiangyi_bg2_03.png) no-repeat center center");
                    $(this).css("background-size", "100% 40px");

                } else {


                    $(this).next().slideUp();
                    $(this).css("background", "url(/Images/jiangyi_bg3_03.png) no-repeat center center");
                    $(this).css("background-size", "100% 30px");

                }
            })

        })

    </script>
}