@{
    ViewBag.Title = "jiangzhejieshao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jiangzhejieshao-main">
    <div class="jiangzhejieshao-main-top1">讲者介绍</div>
    <div class="jiangzhejieshao-main-top2">
        <div class="jiangzhejieshao-main-top2-top index-content">
            <div class="jiangzhejieshao-main-top2-right">
                <img src="/Images/ren_bg_09.jpg" />
            </div>
            <div class="jiangzhejieshao-main-top2-left">
                <p><span>姓名：</span><span></span><span class="jiangzhejieshao-main-top2-left-span">教授</span></p>
                <p><span>单位：</span><span></span></p>
                <p>讲解者简介：</p>
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容....</p>
            </div>
        </div>
        <div class="jiangzhejieshao-main-top2-top index-content">
            <div class="jiangzhejieshao-main-top2-right">
                <img src="/Images/ren_bg_09.jpg" />
            </div>
            <div class="jiangzhejieshao-main-top2-left">
                <p><span>姓名：</span><span></span><span class="jiangzhejieshao-main-top2-left-span">教授</span></p>
                <p><span>单位：</span><span></span></p>
                <p>讲解者简介：</p>
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容....</p>
            </div>
        </div>
        <div class="jiangzhejieshao-main-top2-top index-content">
            <div class="jiangzhejieshao-main-top2-right">
                <img src="/Images/ren_bg_09.jpg" />
            </div>
            <div class="jiangzhejieshao-main-top2-left">
                <p><span>姓名：</span><span></span><span class="jiangzhejieshao-main-top2-left-span">教授</span></p>
                <p><span>单位：</span><span></span></p>
                <p>讲解者简介：</p>
                <p>内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容....</p>
            </div>
        </div>
    </div>
</div>

