@model List<CSRMDAL.jiangzhejieshao>
@{
    ViewBag.Title = "jiangzhejieshao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jiangzhejieshao-main">
    <div class="jiangzhejieshao-main-top1">讲者介绍</div>
    <div class="jiangzhejieshao-main-top2">
        @foreach (var o in Model)
        {
            <div class="jiangzhejieshao-main-top2-top index-content">
                <div class="jiangzhejieshao-main-top2-right">
                    <img src="/upload/@o.img" />
                </div>
                <div class="jiangzhejieshao-main-top2-left">
                    <p><span>姓名：</span><span>@o.name</span><span class="jiangzhejieshao-main-top2-left-span">教授</span></p>
                    <p><span>单位：</span><span>@o.unitname</span></p>
                    <p>讲解者简介：</p>
                    <p>@o.info</p>
                </div>
            </div>
        }
    </div>
</div>

