@model CSRMDAL.Model.jiaotong_ext
@{
    ViewBag.Title = "jiaotong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jiaotong-main">
    <div class="jiaotong-main-in"><iframe id="iframe" src="/Home/jiaotongmap/" frameborder="0" scrolling="no"></iframe></div>
</div>
<div class="jiaotong-main1-warp">
    @foreach (var o in Model.list)
    {
        <div class="jiaotong-main1">
            <p>@o.title</p>
            <p>@o.content</p>
        </div>
    }
</div>

@section scripts
{
    <script type="text/javascript">
    $(function () {
        $(".index-banner").hide();
        var w = $(".jiaotong-main-in").width();
        $("#iframe").width(w);
        $("#iframe").height(w); 
        $("#iframe").load(function () {
            $(this).contents().find("#dituContent").height(w);
            $(this).contents().find("#dituContent").width(w);
        });
    });
    </script>
}