@model CSRMDAL.Model.jiaotong_ext
@{
    ViewBag.Title = "jiaotong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jiaotong-main">
    <div class="jiaotong-main-in"><img src="~/upload/@Model.o.img" /></div>
</div>
<div class="jiaotong-main1-warp">
    @foreach (var o in Model.list)
    {
        <div class="jiaotong-main1">
            <p>@o.title</p>
            <p>@o.content</p>
        </div>
    }
</div>

