@{
    ViewBag.Title = "jiaotong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jiaotong-main">
    <div class="jiaotong-main-in"><img src="/Images/map_bg.png" /></div>
</div>
<div class="jiaotong-main1-warp">
    <div class="jiaotong-main1">
        <p>建国门酒店 + 会议室</p>
        <p>文字都是假的，文字都是假的文字都是假的文字都是假的文字都是假的文字都是假的文字都假的文字都是假的文字都是假的。</p>
    </div>
    <div class="jiaotong-main1">
        <p>建国门酒店 + 会议室</p>
        <p>距离地铁1号线建国门站，步行约5分钟； 距离国贸1公里，步行约15分钟； 距离北京天安门广场5公里，距离北京首都国际机场25公里， 距离北京火车站约3公里……</p>
    </div>
</div>

