@{
    ViewBag.Title = "lianxiwomen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zaixianbao-main">
    <div class="lianxi-main-top1">联系我们</div>
    <div class="lianxi-main-top2">
        <h4>项目联系人</h4>
        <p><span>张老师</span><span>010-57673143、</span><span>010-57673140、</span><span>010-57673141</span><p>
        <p><span>邮箱：</span><span>CSRM@91huayi.com</span><p>
    </div>
</div>

