@model CSRMDAL.lianxiwomen
@{
    ViewBag.Title = "lianxiwomen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zaixianbao-main">
    <div class="lianxi-main-top1">联系我们</div>
    <div class="lianxi-main-top2">
        <h4>项目联系人</h4>
        <p><span>@Model.title</span>@Model.content<p>
        <p><span>邮箱：</span><span>@Model.email</span><p>
    </div>
</div>

