@{
    ViewBag.Title = "zhinan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zaixianbao-main">
    <div class="zhinanjiedu-main-top1">指南解读</div>
    <div class="zhinanjiedu-main-top2">
        <h4>指南标题</h4>
        <p>展示指南内容，供查看<p>
    </div>
</div>

