@model CSRMDAL.zhinan
@{
    ViewBag.Title = "zhinan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="zaixianbao-main">
    <div class="zhinanjiedu-main-top1">指南解读</div>
    <div class="zhinanjiedu-main-top2">
        <h4>@(Model!=null?Model.title:"")</h4>
        <p>@(Model!=null?Model.content:"")<p>
    </div>
</div>

