@{
    ViewBag.menu = 2;
    ViewBag.Title = "会议日程";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Ajax.BeginForm("hyrcPost", "Manager", new { area = "Admin" }, new AjaxOptions { OnSuccess = "onsuccess" }, new { @class = "form-horizontal" }))
{
    <h1 class="page-header">会议日程</h1>

    @Html.Partial("_AreaSelect")

    <div class="form-group">
        <label for="txtdate" class="col-sm-2 control-label">日期</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txtdate" name="txtdate" placeholder="日期" data-val="true" data-val-required="必填" data-val-length-max="20" data-val-length="最多20个字符" />            
            <span data-valmsg-for="txtdate" data-valmsg-replace="true" class="error"></span>
        </div>
    </div>
    <div class="form-group">
        <label for="txttime" class="col-sm-2 control-label">时间</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="txttime" name="txttime" placeholder="时间" data-val="true" data-val-required="必填" data-val-length-max="20" data-val-length="最多20个字符" />
            <span data-valmsg-for="txttime" data-valmsg-replace="true" class="error"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">保 存</button>&nbsp;&nbsp;<button type="button" class="btn btn-default" id="btnAdd">添 加</button>
        </div>
    </div>
}


<h2 class="sub-header">日程详情</h2>
<div class="table-responsive">
    <table class="table table-striped" id="tb">
        <thead>
            <tr>
                <th>时间</th>
                <th>讲题</th>
                <th>讲者</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>            
        </tbody>
    </table>
</div>

@using (Ajax.BeginForm("hyrcAddSave", "Manager", new { area = "Admin" }, new AjaxOptions { OnSuccess = "onsuccess1" }, new { id = "form2" }))
{
    <input type="hidden" id="pid" name="pid" value="0" />
    <input type="hidden" id="cid" name="cid" value="0" />
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">会议日程管理</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="txt1" class="col-sm-2 control-label">时间</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txt1" name="txt1" placeholder="时间" data-val="true" data-val-required="必填" data-val-length-max="20" data-val-length="最多20个字符" />
                                <span data-valmsg-for="txt1" data-valmsg-replace="true" class="error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt2" class="col-sm-2 control-label">讲题</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txt2" name="txt2" placeholder="讲题" data-val="true" data-val-required="必填" data-val-length-max="200" data-val-length="最多200个字符" />
                                <span data-valmsg-for="txt2" data-valmsg-replace="true" class="error"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="txt3" class="col-sm-2 control-label">讲者</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="txt3" name="txt3" placeholder="讲者" data-val="true" data-val-required="必填" data-val-length-max="200" data-val-length="最多200个字符" />
                                <span data-valmsg-for="txt3" data-valmsg-replace="true" class="error"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="btnAddSave">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->       
    </div>
}
<div class="modal fade" tabindex="-1" role="dialog" id="myconfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body">
                <p>确定删除吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btndel" data-id="0">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
@section scripts
{
    <script type="text/javascript">

        function getinfo() {
            getdata("/Admin/Manager/hyrcGet",{ areaid: $("#selarea").val() },function(json){
                $("#pid").val(json.o.id);
                $("#txtdate").val(json.o.date);
                $("#txttime").val(json.o.time);
                $("#tb>tbody").empty();
                $.each(json.list, function (i, n) {
                    var tr = $("<tr><td>" + n.time + "</td><td>" + n.title + "</td><td>" + n.author + "</td><td><button type=\"button\" class=\"btn btn-link btnedit\">编辑</button>&nbsp;&nbsp;<button type=\"button\" class=\"btn btn-link btndel\">删除</button></td></tr>");
                    tr.find(".btnedit").click(function () {
                        $("#txt1").val(n.time);
                        $("#txt2").val(n.title);
                        $("#txt3").val(n.author);
                        $("#cid").val(n.id);
                        $('#myModal').modal();
                    });
                    tr.find(".btndel").click(function () {
                        $("#btndel").data("id",n.id);
                        $('#myconfirm').modal();
                    });

                    $("#tb>tbody").append(tr);
                });
            });
        }

        function onsuccess1(data) {
            if (data.Result == 0) {
                alert(data.Msg);
                window.location.href = '/Admin/Account/SingIn';
            } else {
                alert(data.Msg);
                $('#myModal').modal("hide");
                getinfo();
            }
        }

        $(function () {

            getinfo();

            $("#btnAdd").click(function () {
                if ($("#pid").val() == 0) {
                    $("span[data-valmsg-for='txtdate'").text("先点保存按钮");
                } else {
                    $("#txt1,#txt2,#txt3").val("");
                    $("#cid").val(0);
                    $('#myModal').modal();
                }
            });


            $("#btndel").click(function () {
                postdata("/Admin/Manager/hyrcDel", { id: $("#btndel").data("id") }, function (json) {
                    alert("删除成功");
                    $('#myconfirm').modal("hide");
                    getinfo();
                });
            });
        });
    </script>
}
