@{
    ViewBag.menu = 5;
    ViewBag.Title = "指南解读";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="page-header">指南解读</h1>

<div class="form-horizontal">
    @Html.Partial("_AreaSelect")
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" id="btnAdd">添加</button>
        </div>
    </div>
</div>
<h2 class="sub-header">指南解读</h2>
<div class="table-responsive">
    <table class="table table-striped" id="tb">
        <thead>
            <tr>
                <th>讲题</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

@using (Ajax.BeginForm("znjdPost", "Manager", new { area = "Admin" }, new AjaxOptions { OnSuccess = "onsuccess" }, new { @class = "form-horizontal" }))
{
    <input type="hidden" id="pid" name="pid" value="0" />
    <input type="hidden" id="aid" name="aid" value="0" />
    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">指南解读管理</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txttitle" class="col-sm-2 control-label">标题</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="txttitle" name="txttitle" placeholder="标题" data-val="true" data-val-required="必填" data-val-length-max="100" data-val-length="最多100个字符" />
                            <span data-valmsg-for="txttitle" data-valmsg-replace="true" class="error"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtinfo" class="col-sm-2 control-label">内容</label>
                        <div class="col-sm-10">
                            <script id="container" name="content" type="text/plain">

                            </script>
                            <script type="text/javascript" src="~/Areas/Admin/Scripts/ueditor/ueditor.config.js"></script>
                            <script type="text/javascript" src="~/Areas/Admin/Scripts/ueditor/ueditor.all.min.js"></script>            
                            <span data-valmsg-for="txtinfo" data-valmsg-replace="true" class="error"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary" id="btnAddSave">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}
<div class="modal fade" tabindex="-1" role="dialog" id="myconfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">系统提示</h4>
            </div>
            <div class="modal-body">
                <p>确定删除吗?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="btndel" data-id="0">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

@section scripts
{
    <script type="text/javascript">
        var ue = UE.getEditor('container');

        function getinfo() {
            getdata("/Admin/Manager/znjdGet", { areaid: $("#selarea").val() }, function (json) {
                $("#tb>tbody").empty();
                $.each(json, function (i, n) {
                    var tr = $("<tr><td>" + n.title + "</td><td><button type=\"button\" class=\"btn btn-link btnedit\">编辑</button>&nbsp;&nbsp;<button type=\"button\" class=\"btn btn-link btndel\">删除</button></td></tr>");
                    tr.find(".btnedit").click(function () {
                        $("#txttitle").val(n.title);
                        ue.setContent(n.content);
                        $("#pid").val(n.id);
                        $("#aid").val($("#selarea").val());
                        $('#myModal').modal();
                    });
                    tr.find(".btndel").click(function () {
                        $("#btndel").data("id", n.id);
                        $('#myconfirm').modal();
                    });

                    $("#tb>tbody").append(tr);
                });
            });
        }
        function callback() {
            $('#myModal').modal("hide");
        }
        $(function () {
            getinfo();

            $("#btnAdd").click(function () {
                $("#txttitle").val("");
                ue.setContent("");
                $("#pid").val(0);
                $("#aid").val($("#selarea").val());
                $('#myModal').modal();
            });


            $("#btndel").click(function () {
                postdata("/Admin/Manager/znjdDel", { id: $("#btndel").data("id") }, function (json) {
                    alert("删除成功");
                    $('#myconfirm').modal("hide");
                    getinfo();
                });
            });
        });
    </script>
}