<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title>中华医学会生殖医学规范指南中国行</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="index-warp">
        @if (Request.Url.ToString().ToLower().IndexOf("/home/index") < 0)
        {
            <div class="index-nav">
                <a href="javascript:window.history.back();"><img src="~/Images/index_fanhui_bg_09.png"></a>
                <a href="javascript:;"></a>
            </div>
        }
        <div class="index-banner">
            <img src="~/Images/banner_2.jpg" />
        </div>
        @RenderBody()
        <div class="index-fotter">华医网技术服务平台 @@ www.91huayi.com</div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
